.slider-container {
  width: 97vw;
  height: 200px;
}

.no-scheduled-games {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.slider-container svg {
  fill: #ffffff41;
}

.slider-container svg:hover {
  fill: #ffffff;
}

.slider-container button:hover svg {
  fill: #ffffff;
}

.slider {
  padding: 0px 3em 0px 3em;
}

.loader-container {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}