.summary {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .no-goals {
    color: rgba(211, 211, 211, 0.535);
    font-size: larger;
  }