.table {
    display: table;
    max-width: none;
    border-spacing: unset;
    text-align: center;
    box-shadow: none;
  }
  
  .table > thead {
    background-color: #6e6e6e;
    color: #000000;
  }
  
  .table > thead > tr > th {
    min-width: 50px;
  }
  
  .table > thead > tr > th:first-child {
    min-width: 175px;
  }
  
  .table > tbody > tr > td:first-child {
    text-align: left;
  }
  
  .table > tbody > tr:last-child {
    background-color: inherit;
  }
  
  @media screen and (max-width: 650px) {
    .table {
      display: block;
    }
  }