.container {
  display: grid;
  width: 100%;
  min-width: 320px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  box-shadow: 3px 3px 10px 0px #000000;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #fff;
  cursor: pointer;
}

.tab.selected {
  background: #151618;
}