.table {
    align-self: flex-start;
    margin-top: 30px;
}

.table tr {
    cursor: pointer;
}

.table tr:hover, .table tr:hover > td {
    background-color: rgba(85, 84, 84, 0.622) !important;
}

.table td {
    padding: 5px !important;
    text-align: center;
}

.playerImgColumn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.playerImgColumn > img {
    border-radius: 50%;
}

@media screen and (min-width: 1300px) {
    .table {
      width: 60vw;
    }
}

  @media screen and (max-width: 600px) {
    .table {
      display: block;
    }
}