.table {
    align-self: flex-start;
    margin-top: 30px;
}

.table tbody tr {
    cursor: pointer;
}

.table tbody tr:hover, .table tbody tr:hover > td {
    background-color: #a75604d9 !important;
}

.table td {
    padding: 5px !important;
    text-align: center;
    text-wrap: nowrap;
}

.playerImgColumn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.playerImgColumn > img {
    border-radius: 50%;
}

  @media screen and (max-width: 600px) {
    .table {
      display: block;
    }
}