.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-results {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: #d3d3d388;
}