.loader-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 15px;
}

.header > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.no-game-data {
  display:  flex;
  align-items: center;
  height: 300px;
  color: rgba(211, 211, 211, 0.535);
  font-size: larger;
}

.container {
  display: flex;
  justify-content: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  gap: 20px;
}

.content {
  width: 100%;
}

.tab-content {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 2px 10px 2px #000000;
}

.table {
  display: table;
  max-width: none;
  border-spacing: unset;
  text-align: center;
  box-shadow: none;
}

.table > thead {
  background-color: #6e6e6e;
  color: #000000;
}

.table > thead > th {
  min-width: 50px;
}

.table > thead > th:first-child {
  min-width: 175px;
}

.table > tbody > tr > td:first-child {
  text-align: left;
}

.table > tbody > tr:last-child {
  background-color: inherit;
}

@media screen and (max-width: 650px) {
  .table {
    display: block;
  }
}

.summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.scoring-summary {
  height: 100px;
  width: 100%;
  max-width: 360px;
  color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 10px 2px #000000;
}

.scoring-summary-card {
  display: grid;
  padding: 10px;
  column-gap: 15px;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
}

.scoring-summary-card a {
  text-decoration: none;
  color: #fff;
}

.scoring-summary-card a > span {
  margin-right: 5px;
}

.scoring-summary img {
  border-radius: 50%;
}

.scoring-summary-play {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.scoring-summary-play-details {
  display: flex;
  width: fit-content;
  line-height: 25px;
  height: 25px;
  border: 1px solid;
}

.scoring-summary-play-details > div {
  padding: 0 3px;
}
