.input {
    background-color: #282c34;
    border-radius: 5px;
    border: none;
    padding: 6px 5px 6px 5px;
    color: white;
}

.input:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 1px #01268b;
}